<!DOCTYPE html>
<html lang="en">
@{
    string title = Model.String("title");
    string presenter = Model.String("presenter");
}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="">
        <h1>@title</h1>
        <h2>@presenter</h2>
        <div>@RenderBody()</div>
    </body>
</html>